.form_data{
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: rgb(139, 153, 120);
    padding: 20px;
}
.form_gridview{
  display: flex;
  justify-content:center ;
  align-items: center;
  gap: 200px;
}
.resume{
    border: 1px solid rgb(100, 166, 247);
    width: 600px;
    display: flex;
    flex-direction: column;
   justify-content:center ;
    align-items: center;
    background-color: rgb(146, 158, 129) ;
    padding: 20px;
}