.form_data{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content:center ;
    align-items: center;
}
.form_data div{
  padding: 10px;
}
.form_gridview{
  display: flex;
  justify-content:center ;
  align-items: center;
  gap: 100px;
}
.resume{
    border: 1px solid rgb(241, 164, 197);
    width: 600px;
    display: flex;
    flex-direction: column;
   justify-content:center ;
    align-items: center;
    background-color: rgb(146, 158, 129) ;
    padding: 20px;
}
.mb-3{
  background-color:rgb(146, 158, 129) ;
  width: 400px;
  padding: 2px;
}
button{
  font-size: x-small;
}